.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-btn {
  background-color: #81d1ca; /* tirkizna */
  color: white;
  border: none;
  padding: 4px 10px; /* manji padding */
  margin: 0 4px;
  border-radius: 6px; /* blago zaobljeno */
  font-size: 14px; /* manji font */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #5bbeb6;
}

.pagination-btn:disabled {
  background-color: #bebfc0;
  color: #ffffff;
  cursor: not-allowed;
}

.pagination-info {
  margin: 0 8px;
  font-size: 14px;
}

 
  .pagination-btn:first-child {
    border-radius: 4px 0 0 4px;
  }
  
  .pagination-btn:last-child {
    border-radius: 0 4px 4px 0;
  }