.signpost-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px; /* Smanjio sam širinu za bolji izgled */
  padding: 12px 20px;
  margin: 10px 0;
  background-color: #128080; /* Tirkizna boja */
  color: white;
  border: none;
  border-radius: 6px 0 0 6px; /* Zaobljeni lijevi kut */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.signpost-button:hover {
  background-color: #0f6c6a; /* Tirkizna tamnija boja */
}

.signpost-button .label {
  flex-grow: 1; /* Ovo osigurava da labela zauzme sav prostor */
  text-align: left;
}

.signpost-button .arrow {
  position: absolute;
  right: -15px; /* Zašiljeni kraj se povuče izvan gumba */
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #128080; /* Tirkizna boja */
}
