/* Glavni kontejner */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  z-index: 2;
  margin-top: 40px; /* Ovdje ostavi marginu za razmak s vrha */
  border-bottom: 2px solid #69c1d1; 
  padding-bottom: 10px; 
}

/* Logo */
.logo {
  height: 160px;
  object-fit: contain;
  margin-top: 20px;
  border-bottom: 2px solid #69c1d1; 
}

/* Glavni sadržaj */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}



.button-container {
  display: flex;
  flex-direction: column; /* Postavljamo gumbe u vertikalni red */
  align-items: center; /* Poravnavanje gumba po horizontalnoj osi */
  justify-content: center; /* Poravnavanje gumba po vertikalnoj osi */
  height: 100vh; /* Koristimo cijeli visinu ekrana */
  margin: 0; /* Uklonimo marginu */
}

.signpost-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  padding: 1rem 1rem;
  margin: 10px 0;
  background-color: #19a5a5; /* Tirkizna boja */
  color: white;
  border: none;
  border-radius: 0; /* Ovdje nema zaobljenja jer je šiljak */
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 6px rgba(211, 208, 208, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
  clip-path: polygon(
    0 0, 
    calc(100% - 20px) 0, 
    100% 50%, 
    calc(100% - 20px) 100%, 
    0 100%);
}

.signpost-button:hover {
  background-color: #148a8a; /* Tamnija tirkizna boja */
  color: white;
}






